{% extends "video/base.html" %}
{% if start_ajax %}
    {% block ajax %}
        <script type="text/javascript">
            $(document).ready(function(){
                var isload=true;
                var enter=true
                var num=0;
                $.get("{% url 'video:ajax_search' %}",function(data){
                    $(window).scroll(function(){
                        scrollajax(data);
                    });
                });
                function scrollajax(data){
                    var scrolltop=$(window).scrollTop();
                    var bodyheight=$(document).height(); //body的總高度
                    var clientheight=$(window).height(); //網頁可視區的高度
                    var offset=100;
                    if(scrolltop>=bodyheight-(clientheight+offset)){
                        if(enter){
                            if(isload){
                                isload=false;
                                for(var i1=0;i1<8;i1++,num++){
                                    if(num>=data['sum']){
                                        break;
                                    }
                                    var a1=$('<a href="play/'+data['items'][num]['videoId']+'/'+data['items'][num]['id']+'/'+data['items'][num]['kind']+'/'+'" class="thumb-nail_link"><img src="'+data['items'][num]['image']+'"></img></a>')
                                    var a2=$('<a href="play/'+data['items'][num]['videoId']+'/'+data['items'][num]['id']+'/'+data['items'][num]['kind']+'/'+'" class="thumb"><h4>'+data['items'][num]['title']+'</h4></a>')
                                    var i=$('<i class="views">觀看次數'+data['items'][num]['view']+'</i>')
                                    var br=$('<br>')
                                    if(data['mylove']){
                                        var a3=$('<a href="#"><i>加入我的最愛</i></a>')
                                        var div=$('<div class="film_list"></div>')
                                        div.append(a1,a2,i,br,a3)
                                    }
                                    else{
                                        var div=$('<div class="film_list"></div>')
                                        div.append(a1,a2,i)
                                    }
                                    $('.box').append(div)
                                }
                                isload=true;
                            }
                        }
                    }
                }
            });
        </script>
    {% endblock %}
{% endif %}
{% block content %}
    {% for f in films%}
        <div class="film_list">
            <a href="{{f.get_absolute_url}}" class="thumb-nail_link"><img src="{{f.image_url}}"></a>
            <a href="{{f.get_absolute_url}}" class="thumb"><h4>{{f.title}}</h4></a>
            <i class="views">觀看次數{{f.views}}</i>
            <br>
            {% if request.user.is_authenticated %}
                <a href="#"><i>加入我的最愛</i></a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}